@{ 
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-2">Welcome</h1>
    <h2 class="display-4">This is the home page</h2>
    <p>Select an option in the navigation bar above.</p>
</div>
