@model Videogame
@{
    ViewData["Title"] = "Videogames Page";
}

<div class="text-center text-dark">
    <h1 class="display-4 text-dark">The Videogame page</h1>
</div>
<div class="row justify-content-center">
    <div class="col-auto">
        <table class="table-bordered table-responsive text-dark">
            @for (int i = 0; i < ViewBag.VideogameCount; i++)
            {
                <tr>
                    <td>
                        <!--Was having trouble displaying the items in lists here, so I used ViewBag to hold them-->
                        <img src="~/images/@ViewBag.VideogameList[i].Cover" width="200" />
                    </td>
                    <td width="600">
                        <b>Title:</b> @ViewBag.VideogameList[i].Title <br />
                        <b>Genre:</b> @ViewBag.VideogameList[i].Genre <br />
                        <b>System:</b> @ViewBag.VideogameList[i].System <br />
                        <b>Notes:</b> @ViewBag.VideogameList[i].Notes <br />
                    </td>
                </tr>
            }
        </table>
    </div>
</div>

